<section class="tt-wo">
  <div class="tt-wo-backdrop"></div>
  <section class="tt-wo-content">
    <section class="tt-wo-content-wrap">
      <div class="tt-wo-content-backdrop"></div>
      <section class="tt-wo-top">
        <img loading="lazy" [src]="'logo-winfit' | TTAssetsLink:'svg'" [alt]="'logo-winfit.svg'" style="height: 50px;">
        <img loading="lazy" [src]="'logo-winwin' | TTAssetsLink:'svg'" [alt]="'logo-winwin.svg'" style="height: 50px;">
      </section>
      <section class="tt-wo-middle">
        <form nz-form [formGroup]="infoForm">
          <!-- age -->
          <ng-container *ngIf="infoForm.contains('age')">
            <label class="tt-label tt-required">{{"LABEL.AGE_INPUT_WINFIT" | translate}}</label>
            <input nz-input type="number" formControlName="age" [placeholder]="'PLACEHOLDER.AGE_INPUT' | translate" />
          </ng-container>

          <!-- height -->
          <ng-container *ngIf="infoForm.contains('gender')">
            <label class="tt-label tt-required">{{"GENDER.INDEX_WINFIT" | translate}}</label>
            <nz-radio-group formControlName="gender">
              <label nz-radio [nzValue]="true">{{"GENDER.MAN_WINFIT" | translate}}</label>
              <label nz-radio [nzValue]="false">{{"GENDER.WOMAN_WINFIT" | translate}}</label>
            </nz-radio-group>
          </ng-container>

          <!-- height -->
          <ng-container *ngIf="infoForm.contains('heightIndex')">
            <label class="tt-label tt-required">{{"LABEL.HEIGHT_INPUT_WINFIT" | translate}}</label>
            <input nz-input type="number" formControlName="heightIndex" [placeholder]="'PLACEHOLDER.HEIGHT_INPUT' | translate" />
          </ng-container>

          <!-- weight -->
          <ng-container *ngIf="infoForm.contains('weightIndex')">
            <label class="tt-label tt-required">{{"LABEL.WEIGHT_INPUT_WINFIT" | translate}}</label>
            <input nz-input type="number" formControlName="weightIndex" [placeholder]="'PLACEHOLDER.WEIGHT_INPUT' | translate" />
          </ng-container>
        </form>
      </section>
      <section class="tt-wo-bottom">
        <div>
          <ng-container *ngIf="checkingErrorForm && !infoForm.valid">
            <p class="tt-align-right tt-red" style="font-size: 16px;">{{'MESSAGE.WINFIT_REQUIRED' | translate}}</p>
          </ng-container>
          <button class="tt-mr-5 tt-mt-10" nz-button nzType="primary" nzSize="default" nzShape="round" (click)="onClickCheckIndex()"
            [disabled]="infoForm.invalid">
            {{'BUTTON.CHECK_WINFIT_INDEX' | translate}}
          </button>
          <!-- <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="onClickSave()" [hidden]="false">
            {{'BUTTON.SAVE_WINFIT' | translate}}
          </button> -->
        </div>
      </section>
    </section>
  </section>
</section>

<nz-modal [nzClassName]="'tt-wo-modal'" [(nzVisible)]="visibleIndexWinfitModal" [nzCloseIcon]="''">
  <ng-container *nzModalTitle></ng-container>

  <ng-container *nzModalContent>
    <section class="tt-wo-modal-content">
      <!-- base info -->
       <section class="tt-wo-modal-section">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.BASIC_INFO_WINFIT' | translate) | uppercase}}</label>
        <div class="tt-wo-basic-info">
          <div class="tt-wo-basic-info-item">
            <label class="tt-label">{{'TABLE.ABOUT_AGE' | translate}}:</label>
            <p>{{indexWinfit.age}}</p>
          </div>

          <div class="tt-wo-basic-info-item">
            <label class="tt-label">{{'GENDER.INDEX_WINFIT' | translate}}:</label>
            <p>{{(indexWinfit.gender ? 'GENDER.MAN_WINFIT' : 'GENDER.WOMAN_WINFIT') | translate}}</p>
          </div>

          <div class="tt-wo-basic-info-item">
            <label class="tt-label">{{'TABLE.HEIGHT_WINFIT' | translate}}:</label>
            <p>{{indexWinfit.heightIndex}}</p>
          </div>

          <div class="tt-wo-basic-info-item">
            <label class="tt-label">{{'TABLE.WEIGHT_WINFIT' | translate}}:</label>
            <p>{{indexWinfit.weightIndex}}</p>
          </div>

          <div class="tt-wo-basic-info-item">
            <label class="tt-label">{{'TABLE.WATER_NEEDED_WINFIT' | translate}}:</label>
            <p>{{indexWinfit.waterNeeded + ' ' + ('TABLE.WATER_WINFIT' | translate)}}</p>
          </div>
        </div>
      </section>

      <!-- BMR -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bmr">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.EXPLAIN_INDEX_BMR' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseMBRData" [nzScroll]="{x: '700px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.BMR' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.ABOUT_AGE' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'300px'">
                {{ ('TABLE.INDEX_BMR' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.MAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.WOMAN' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bmr of baseWinfitOnlineData.baseMBRData; let index = index">
              <tr [ngClass]="{'tt-background-green': indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo}">
                <ng-container *ngIf="index === 0">
                  <td [rowSpan]="7">
                    <p>{{indexWinfit.bmr.mifflinStJeor}}</p>
                  </td>
                </ng-container>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo}">
                  <ng-container *ngIf="bmr.ageTo; else emptyAgeTo">
                    {{bmr.ageFrom + ' - ' + bmr.ageTo}}
                  </ng-container>

                  <ng-template #emptyAgeTo>
                    {{'>= ' + bmr.ageFrom}}
                  </ng-template>
                </td>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo}">
                  <ng-container *ngIf="indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo">
                    <div [innerHTML]="indexWinfit | TTBMRPerAge"></div>
                  </ng-container>
                </td>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo}">
                  {{bmr.manBMR}}
                </td>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.age >= bmr.ageFrom && indexWinfit.age <= bmr.ageTo}">
                  {{bmr.womanBMR}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- BMI -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bmi">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_BMI' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseMBIData" [nzScroll]="{x: '450px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.BMI' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.EXPLAIN_BMI' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'200px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bmi of baseWinfitOnlineData.baseMBIData; let index = index">
              <tr [ngClass]="{'tt-background-green': indexWinfit.bmi >= bmi.bmiFrom && indexWinfit.bmi <= bmi.bmiTo}">
                <ng-container *ngIf="index === 0">
                  <td [rowSpan]="5">
                    <p>{{indexWinfit.bmi}}</p>
                  </td>
                </ng-container>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.bmi >= bmi.bmiFrom && indexWinfit.bmi <= bmi.bmiTo}">
                  {{bmi.bmiFrom + ' - ' + bmi.bmiTo}}
                </td>
                <td [ngClass]="{'tt-bold tt-koho': indexWinfit.bmi >= bmi.bmiFrom && indexWinfit.bmi <= bmi.bmiTo}">
                  {{bmi.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- body fat -->
      <section class="tt-wo-modal-section tt-wo-modal-section-bodyfat">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_BODY_FAT' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseBodyFatData" [nzScroll]="{x: '350px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.MAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.WOMAN' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bdf of baseWinfitOnlineData.baseBodyFatData; let index = index">
              <tr>
                <td>
                  <ng-container *ngIf="bdf.indexForManTo; else emptyManTo">
                    {{bdf.indexForManFrom + ' - ' + bdf.indexForManTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bdf.indexForManFrom}}
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="bdf.indexForWomanTo; else emptyManTo">
                    {{bdf.indexForWomanFrom + ' - ' + bdf.indexForWomanTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bdf.indexForWomanFrom}}
                  </ng-template>
                </td>
                <td>
                  {{bdf.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- visceral fat -->
      <section class="tt-wo-modal-section tt-wo-modal-section-visceralfat">
        <label class="tt-wo-modal-section-head tt-label">{{('TABLE.INDEX_VISCERAL_FAT' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseVisceralFatData" [nzScroll]="{x: '350px'}">
          <thead>
            <tr>
              <th [nzWidth]="'200px'">
                {{ ('TABLE.VISCERAL_FAT_LEVEL' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.TYPE' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bvf of baseWinfitOnlineData.baseVisceralFatData; let index = index">
              <tr>
                <td>
                  <ng-container *ngIf="bvf.levelVisceralFatTo; else emptyManTo">
                    {{bvf.levelVisceralFatFrom + ' - ' + bvf.levelVisceralFatTo}}
                  </ng-container>

                  <ng-template #emptyManTo>
                    {{'>= ' + bvf.levelVisceralFatFrom}}
                  </ng-template>
                </td>
                <td>
                  {{bvf.type | translate}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- skeletal muscles -->
      <section class="tt-wo-modal-section tt-wo-modal-section-skeletalmescles">
        <label class="tt-label">{{('TABLE.INDEX_SKELETAL_MUSCLES' | translate) | uppercase}}</label>
        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzData]="baseWinfitOnlineData.baseSkeletalMusclesData" [nzScroll]="{x: '600px'}">
          <thead>
            <tr>
              <th [nzWidth]="'100px'"></th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.LOW' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.NORMAL' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'100px'">
                {{ ('TABLE.GOOD' | translate) | uppercase }}
              </th>
              <th [nzWidth]="'150px'">
                {{ ('TABLE.VERY_GOOD' | translate) | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bsm of baseWinfitOnlineData.baseSkeletalMusclesData; let index = index">
              <tr>
                <td>
                  {{bsm.for | translate}}
                </td>
                <td>
                  {{bsm.lowFrom + ' - ' + bsm.lowTo}}
                </td>
                <td>
                  {{bsm.normalFrom + ' - ' + bsm.normalTo}}
                </td>
                <td>
                  {{bsm.goodFrom + ' - ' + bsm.goodTo}}
                </td>
                <td>
                  {{bsm.veryGoodFrom + ' - ' + bsm.veryGoodTo}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </section>

      <!-- fotter -->
       <section class="tt-wo-modal-section tt-wo-modal-section-footer">
          <button nz-button nzType="default" nzSize="default" nzShape="round" (click)="onToogleVisibleIndexWinfitModal(false)">
            {{'BUTTON.CANCEL_WINFIT' | translate}}
          </button>
          <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="onClickSave()">
            {{'BUTTON.SAVE_WINFIT' | translate}}
          </button>
       </section>
    </section>
  </ng-container>

  <ng-container *nzModalFooter></ng-container>
</nz-modal>

<nz-modal [nzClassName]="'tt-wo-modal'" [(nzVisible)]="visibleWarningAuthModal" [nzCloseIcon]="''">
  <ng-container *nzModalHeader></ng-container>
  <ng-container *nzModalContent>
    <section class="tt-wo-modal-content">
      <section class="tt-wo-modal-section">
        <p class="tt-title tt-bold tt-koho">{{'MESSAGE.LOGIN_BEFORE_SAVE' | translate}}</p>
      </section>

      <!-- fotter -->
       <section class="tt-wo-modal-section tt-wo-modal-section-footer">
          <button nz-button nzType="default" nzSize="default" nzShape="round" (click)="onToogleVisibleWarningAuthModal(false)">
            {{'BUTTON.CANCEL_WINFIT' | translate}}
          </button>
          <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="goToLogin()">
            {{'BUTTON.LOGIN_WINFIT' | translate}}
          </button>
       </section>
      </section>
    </ng-container>
  <ng-container *nzModalFooter></ng-container>
</nz-modal>

<nz-modal [nzClassName]="'tt-wo-modal'" [(nzVisible)]="visibleInputCustomerModal" [nzCloseIcon]="''">
  <ng-container *nzModalHeader></ng-container>
  <ng-container *nzModalContent>
    <section class="tt-wo-modal-content">
      <section class="tt-wo-modal-section">
        <form nz-form [formGroup]="customeroForm">
          <!-- name -->
          <ng-container *ngIf="customeroForm.contains('name')">
            <label class="tt-label tt-required">{{"LABEL.NAME_INPUT_WINFIT" | translate}}</label>
            <input class="tt-mb-20" nz-input formControlName="name" [placeholder]="'PLACEHOLDER.NAME_INPUT_WINFIT' | translate" />
          </ng-container>

          <!-- email -->
          <ng-container *ngIf="customeroForm.contains('email')">
            <label class="tt-label">{{"LABEL.EMAIL_INPUT_WINFIT" | translate}}</label>
            <input class="tt-mb-20" nz-input formControlName="email" [placeholder]="'PLACEHOLDER.EMAIL_INPUT_WINFIT' | translate" />
          </ng-container>

          <!-- phone number -->
          <ng-container *ngIf="customeroForm.contains('phoneNumber')">
            <label class="tt-label">{{"LABEL.PHONE_NUMBER_INPUT_WINFIT" | translate}}</label>
            <input class="tt-mb-20" nz-input type="number" formControlName="phoneNumber" [placeholder]="'PLACEHOLDER.PHONE_NUMBER_INPUT_WINFIT' | translate" />
          </ng-container>
        </form>
      </section>

      <!-- fotter -->
       <section class="tt-wo-modal-section tt-wo-modal-section-footer">
          <button nz-button nzType="default" nzSize="default" nzShape="round" (click)="onToogleVisibleInputCustomerModal(false)">
            {{'BUTTON.CANCEL_WINFIT' | translate}}
          </button>
          <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="onClickSaveWinfit()" [disabled]="customeroForm.invalid">
            {{'BUTTON.SAVE_WINFIT' | translate}}
          </button>
       </section>
      </section>
    </ng-container>
  <ng-container *nzModalFooter></ng-container>
</nz-modal>

<ng-template #errorTemp let-control>
  <ng-container *ngIf="control?.errors?.required">
    <span>{{'MESSAGE.WINFIT_REQUIRED' | translate}}</span>
  </ng-container>
</ng-template>
